- name: Create user group
  group:
    name: "{{ users_group }}"
    state: present

- name: Create user
  user:
    name: "{{ users_name }}"
    groups: "{{ users_group }},wheel"
    append: Yes
    password: "{{ users_password | string | password_hash('sha512', 'salty') }}"
    update_password: always
    state: present

- name: Ensure sudo & vim is installed
  package:
    name:
      - sudo
      - vim-enhanced
    state: present

- name: Add user to sudoers
  template:
    src: ./templates/etc/sudoers.d/10-grant-sudo-access.j2
    dest: "/etc/sudoers.d/10-grant-sudo-access-to-{{users_name}}"
    owner: root
    group: root
    mode: 0440

- name: Create user .ssh dir
  file:
    path: "{{ users_home }}/.ssh/"
    state: directory
    owner: "{{ users_name }}"
    group: "{{ users_group }}"
    mode: 0700

- name: Set a sensible bashrc file
  copy:
    src: ./../templates/home/user/.bashrc
    dest: "{{ users_home }}/.bashrc"
    owner: "{{ users_name }}"
    group: "{{ users_group }}"
    force: no

- name: Set a sensible .vimrc file
  copy:
    src: ./../templates/home/user/.vimrc
    dest: "{{ users_home}}/.vimrc"
    owner: "{{ users_name }}"
    group: "{{ users_group }}"
    force: no

- name: Setup authorized_key
  authorized_key:
    user: "{{ users_name }}"
    state: present
    key: "{{ lookup('file', '{{ local_public_key }}') }}"
  when: uploadPublicKey